<%= form_for(auth_imggroup_type) do |f| %>
  <% if auth_imggroup_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auth_imggroup_type.errors.count, "error") %> prohibited this auth_imggroup_type from being saved:</h2>

      <ul>
      <% auth_imggroup_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :acckey %>
    <%= f.text_field :acckey %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
