<%= form_for(auth_tag2tag) do |f| %>
  <% if auth_tag2tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auth_tag2tag.errors.count, "error") %> prohibited this auth_tag2tag from being saved:</h2>

      <ul>
      <% auth_tag2tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ptag_id %>
    <%= f.number_field :ptag_id %>
  </div>

  <div class="field">
    <%= f.label :ctag_id %>
    <%= f.number_field :ctag_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
