<p id="notice"><%= notice %></p>

<p>
  <strong>Ptag:</strong>
  <%= @auth_tag2tag.ptag_id %>
</p>

<p>
  <strong>Ctag:</strong>
  <%= @auth_tag2tag.ctag_id %>
</p>

<%= link_to 'Edit', edit_auth_tag2tag_path(@auth_tag2tag) %> |
<%= link_to 'Back', auth_tag2tags_path %>
