<p id="notice"><%= notice %></p>

<p>
  <strong>Auth website:</strong>
  <%= @auth_website2tag.auth_website_id %>
</p>

<p>
  <strong>Auth tag:</strong>
  <%= @auth_website2tag.auth_tag_id %>
</p>

<p>
  <strong>Idx:</strong>
  <%= @auth_website2tag.idx %>
</p>

<%= link_to 'Edit', edit_auth_website2tag_path(@auth_website2tag) %> |
<%= link_to 'Back', auth_website2tags_path %>
