<div class='container'>
<%= form_for(auth_obj) do |f| %>
  <% if auth_obj.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auth_obj.errors.count, "error") %> prohibited this auth_obj from being saved:</h2>

      <ul>
      <% auth_obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	  name
    <%= f.text_field :auth_name %>
  </div>

  <div class="field">
	  UUID
    <%= f.text_field :auth_uuid %>
  </div>

  <div class="field">
	  Stock Qty
    <%= f.text_field :stock_qty %>
  </div>

  <div class="field">
	  Description
    <%= f.text_area :auth_descr %>
  </div>

  <div class="field">
	Unit price
    <%= f.text_field :auth_unitprice %>
  </div>

  <div class="field">
	  barcode
    <%= f.text_field :barcode %>
  </div>

  <div class="field">
	  stock_qty
    <%= f.text_field :stock_qty %>
  </div>

  <div class="field">
	  Is disabled
    <%= f.check_box :auth_is_disabled %>
  </div>

  <%= render :partial => '/auth_tags/tag_table' %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
