<p id="notice"><%= notice %></p>

<h1>Saleable Items</h1>

<table class='table'>
  <thead>
    <tr>
      <th> name</th>
      <th> uuid</th>
      <th> unit price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auth_objs.each do |auth_obj| %>
      <tr>
        <td><%= auth_obj.auth_name %></td>
        <td><%= auth_obj.auth_uuid %></td>
        <td><%= auth_obj.auth_unitprice %></td>
        <td><%= link_to 'Show', auth_obj %></td>
        <td><%= link_to 'Edit', edit_auth_obj_path(auth_obj) %></td>
        <td><%= link_to 'Destroy', auth_obj, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auth Obj', new_auth_obj_path %>
