<p id="notice"><%= notice %></p>

<h1>Orders</h1>
<% AuthOrderst.all.each do |st| %>
	<a href="/auth_orders?orderst_id=<%=st.id%>" 
		class="btn btn-<%=((@orderst_id== st.id) ? ('success'):('default'))%>">

<%=st.auth_st  %>
<span id='cnt_<%=st.id%>'>
</span>
	</a>
<% end  %>
<br />

<table class='table'>
  <thead>
    <tr>
      <th>#</th>
      <th>user</th>
      <th>Total(inc gst)</th>
      <th>Shipping Cost</th>
      <th>GST</th>
      <th>Orderst</th>
      <th>Payst</th>
      <th>note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auth_orders.each do |auth_order| %>
      <tr>
        <td><%= auth_order.id %></td>
        <td><%= auth_order.auth_user_id %></td>
	<td>
		<%= auth_order.auth_total %>
	<hr />

	<% auth_order.auth_order2objs.each  do |v| %>
			<%=v.auth_obj_display_name%> 
			<b><%=v.uuid.to_s.upcase%> <%=v.barcode.to_s.upcase%></b>
			<%if v.auth_obj_qty.to_i != 1%> 
			($<%=v.auth_obj_unitprice%> x <%=v.auth_obj_qty%>)
			<%end %> 


		<%if v.auth_shipping_cost.to_i > 0%>
		(shipping: <%=v.auth_shipping_cost%>)
		<%end%>
		$<%=v.auth_total%>
			<%if  v.auth_obj_meta_json   %>
				[<%= raw (dump_json v.auth_obj_meta_json, ', '  ) %>]	<%end%>
		<br />
		<%end%>
		<hr />
	<%= (auth_order.shipping_addr.present?? (auth_order.shipping_addr.full):('') )%>
</td>

<td>
	<%= auth_order.auth_shipping_cost %>
</td>
        <td><%= auth_order.auth_gst %></td>
        <td><%= auth_order.auth_orderst.auth_st %></td>
        <td><%= auth_order.auth_payst.auth_st %></td>
		<td>
			<%= auth_order.auth_note %>
			<br />
			<%= raw (dump_json auth_order.auth_meta_json, ', '  ) %>
		</td>
		<td><%= link_to 'Show', auth_order %>
			<%if  auth_order.src_user_id.to_i > 0 %>
				<br />
				<%=link_to "RefBy #{auth_order.src_user_id}", "/adm/user/#{auth_order.src_user_id}", target: "_blank"%>
			<%  end %>
	</td>
	<td>
		<%= link_to 'Edit', edit_auth_order_path(auth_order) %>
		<br >
		Last Update: <%= au_date_full auth_order.updated_at %>
		<br >
		Create: <%= au_date_full auth_order.created_at %>
		<br >
		website: <%= auth_order.website_id %>

</td>
        <td><%= link_to 'Destroy', auth_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @auth_orders %>
<br>
<br>

<%= link_to 'New Auth Order', new_auth_order_path %>
