<%= form_for(auth_obj_attr) do |f| %>
  <% if auth_obj_attr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auth_obj_attr.errors.count, "error") %> prohibited this auth_obj_attr from being saved:</h2>

      <ul>
      <% auth_obj_attr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>

  <div class="field">
    <%= f.label :obj_id %>
    <%= f.number_field :obj_id %>
  </div>

  <div class="field">
    <%= f.label :auth_meta_type_id %>
    <%= f.number_field :auth_meta_type_id %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <%= f.label :idx %>
    <%= f.number_field :idx %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
