<%= form_for(position2permission) do |f| %>
  <% if position2permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position2permission.errors.count, "error") %> prohibited this position2permission from being saved:</h2>

      <ul>
      <% position2permission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position_id %>
<%=select_tag "position2permission[position_id]", options_from_collection_for_select(Position.all, "id", "name", position2permission.position_id||0 ) %>

  </div>

  <div class="field">
    <%= f.label :permission_id %>
<%=select_tag "position2permission[permission_id]", options_from_collection_for_select(Permission.all, "id", "controllername", position2permission.permission_id||0 ) %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
