<p id="notice"><%= notice %></p>

<h1>Position2permissions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Position</th>
      <th>Permission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @position2permissions.each do |position2permission| %>
      <tr>
        <td><%= position2permission.position.name %></td>
        <td><%= position2permission.permission.controllername %></td>
        <td><%= link_to 'Show', position2permission %></td>
        <td><%= link_to 'Edit', edit_position2permission_path(position2permission) %></td>
        <td><%= link_to 'Destroy', position2permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Position2permission', new_position2permission_path %>
