<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @position2permission.position_id %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @position2permission.permission_id %>
</p>

<%= link_to 'Edit', edit_position2permission_path(@position2permission) %> |
<%= link_to 'Back', position2permissions_path %>
