<%= form_for(auth_order_shipping_rule) do |f| %>
  <% if auth_order_shipping_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auth_order_shipping_rule.errors.count, "error") %> prohibited this auth_order_shipping_rule from being saved:</h2>

      <ul>
      <% auth_order_shipping_rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :cost %>
    <%= f.text_field :cost %>
  </div>

  <div class="field">
    <%= f.label :order_amt %>
    <%= f.text_field :order_amt %>
  </div>

  <div class="field">
    <%= f.label :is_enabled %>
    <%= f.check_box :is_enabled %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
