<p id="notice"><%= notice %></p>

<h1>User2positions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user2positions.each do |user2position| %>
      <tr>
        <td><%= user2position.user_id %></td>
        <td><%= user2position.position %></td>
        <td><%= link_to 'Show', user2position %></td>
        <td><%= link_to 'Edit', edit_user2position_path(user2position) %></td>
        <td><%= link_to 'Destroy', user2position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User2position', new_user2position_path %>
