<p id="notice"><%= notice %></p>

<p>
  <strong>Auth user:</strong>
  <%= @auth_cart.auth_user_id %>
</p>

<p>
  <strong>Auth visitor uuid:</strong>
  <%= @auth_cart.auth_visitor_uuid %>
</p>

<p>
  <strong>Auth obj:</strong>
  <%= @auth_cart.auth_obj_id %>
</p>

<p>
  <strong>Auth obj model name:</strong>
  <%= @auth_cart.auth_obj_model_name %>
</p>

<p>
  <strong>Auth obj qty:</strong>
  <%= @auth_cart.auth_obj_qty %>
</p>

<p>
  <strong>Auth obj meta json:</strong>
  <%= @auth_cart.auth_obj_meta_json %>
</p>

<%= link_to 'Edit', edit_auth_cart_path(@auth_cart) %> |
<%= link_to 'Back', auth_carts_path %>
