<%= form_for(auth_shippingrule2obj) do |f| %>
  <% if auth_shippingrule2obj.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auth_shippingrule2obj.errors.count, "error") %> prohibited this auth_shippingrule2obj from being saved:</h2>

      <ul>
      <% auth_shippingrule2obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>

  <div class="field">
    <%= f.label :auth_sel_shippingrule_id %>
    <%= f.number_field :auth_sel_shippingrule_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
