<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @auth_shippingrule2obj.model %>
</p>

<p>
  <strong>Auth sel shippingrule:</strong>
  <%= @auth_shippingrule2obj.auth_sel_shippingrule_id %>
</p>

<%= link_to 'Edit', edit_auth_shippingrule2obj_path(@auth_shippingrule2obj) %> |
<%= link_to 'Back', auth_shippingrule2objs_path %>
