<p id="notice"><%= notice %></p>

<h1>Bundles</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auth_bundles.each do |auth_bundle| %>
      <tr>
        <td><%= auth_bundle.auth_name %></td>
        <td><%= auth_bundle.auth_total %></td>
        <td><%= link_to 'Show', auth_bundle %></td>
        <td><%= link_to 'Edit', edit_auth_bundle_path(auth_bundle) %></td>
        <td><%= link_to 'Destroy', auth_bundle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auth Bundle', new_auth_bundle_path %>
