<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @auth_invoice.uuid %>
</p>

<p>
  <strong>Gross:</strong>
  <%= @auth_invoice.gross %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @auth_invoice.fee %>
</p>

<p>
  <strong>Auth order:</strong>
  <%= @auth_invoice.auth_order_id %>
</p>

<p>
  <strong>Auth paymethod:</strong>
  <%= @auth_invoice.auth_paymethod_id %>
</p>

<p>
  <strong>Auth invoicest:</strong>
  <%= @auth_invoice.auth_invoicest_id %>
</p>

<%= link_to 'Edit', edit_auth_invoice_path(@auth_invoice) %> |
<%= link_to 'Back', auth_invoices_path %>
