<%= form_for(auth_bundle2obj) do |f| %>
  <% if auth_bundle2obj.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auth_bundle2obj.errors.count, "error") %> prohibited this auth_bundle2obj from being saved:</h2>

      <ul>
      <% auth_bundle2obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :auth_bundle_id %>
	<%= select_tag "auth_bundle2obj[auth_bundle_id]", options_from_collection_for_select(AuthBundle.all, "id", "auth_name", auth_bundle2obj.auth_bundle_id||0 ) %>

  </div>

  <div class="field">
    <%= f.label :auth_obj_id %>
    <%= f.number_field :auth_obj_id %>
  </div>

  <div class="field">
    <%= f.label :auth_obj_model_name %>
    <%= f.text_field :auth_obj_model_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
