<p id="notice"><%= notice %></p>

<h1> Bundle Items</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Bundle</th>
      <th>Auth obj</th>
      <th>Auth obj model name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auth_bundle2objs.each do |auth_bundle2obj| %>
      <tr>
        <td><%= auth_bundle2obj.auth_bundle.auth_name %></td>
        <td><%= auth_bundle2obj.auth_obj_id %></td>
        <td><%= auth_bundle2obj.auth_obj_model_name %></td>
        <td><%= link_to 'Show', auth_bundle2obj %></td>
        <td><%= link_to 'Edit', edit_auth_bundle2obj_path(auth_bundle2obj) %></td>
        <td><%= link_to 'Destroy', auth_bundle2obj, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auth Bundle2obj', new_auth_bundle2obj_path %>
