<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @auth_tag2obj.model %>
</p>

<p>
  <strong>Auth obj:</strong>
  <%= @auth_tag2obj.auth_obj_id %>
</p>

<p>
  <strong>Auth tag:</strong>
  <%= @auth_tag2obj.auth_tag_id %>
</p>

<%= link_to 'Edit', edit_auth_tag2obj_path(@auth_tag2obj) %> |
<%= link_to 'Back', auth_tag2objs_path %>
