<p id="notice"><%= notice %></p>

<h1>Order Items</h1>

<table class='table'>
  <thead>
    <tr>
      <th>order</th>
      <th> total</th>
      <th> gst</th>
      <th>obj ID</th>
      <th>  model name</th>
      <th>  display name</th>
      <th>  qty</th>
      <th>  unit price</th>
      <th>  meta </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auth_order2objs.each do |auth_order2obj| %>
      <tr>
        <td><%= auth_order2obj.auth_order_id %></td>
        <td><%= auth_order2obj.auth_total %></td>
        <td><%= auth_order2obj.auth_gst %></td>
        <td><%= auth_order2obj.auth_obj_id %></td>
        <td><%= auth_order2obj.auth_obj_model_name %></td>
        <td><%= auth_order2obj.auth_obj_display_name %></td>
        <td><%= auth_order2obj.auth_obj_qty %></td>
        <td><%= auth_order2obj.auth_obj_unitprice %></td>
        <td><%= auth_order2obj.auth_obj_meta_json %></td>
        <td><%= link_to 'Show', auth_order2obj %></td>
        <td><%= link_to 'Edit', edit_auth_order2obj_path(auth_order2obj) %></td>
        <td><%= link_to 'Destroy', auth_order2obj, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auth Order2obj', new_auth_order2obj_path %>
