<p id="notice"><%= notice %></p>

<p>
  <strong>Auth st:</strong>
  <%= @auth_orderst.auth_st %>
</p>

<p>
  <strong>Auth descr:</strong>
  <%= @auth_orderst.auth_descr %>
</p>

<%= link_to 'Edit', edit_auth_orderst_path(@auth_orderst) %> |
<%= link_to 'Back', auth_ordersts_path %>
