<p id="notice"><%= notice %></p>

<h1>Shippingrules</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Idx</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auth_sel_shippingrules.each do |auth_sel_shippingrule| %>
      <tr>
		  
		  <td><%= auth_sel_shippingrule.name %>
		  <a href="/auth_shippingrule2objs/new?auth_sel_shippingrule_id=<%=auth_sel_shippingrule.id%>">
			  Add Mapping
		  </a>
	  
	  </td>
        <td><%= auth_sel_shippingrule.cost %></td>
        <td><%= auth_sel_shippingrule.idx %></td>
        <td><%= link_to 'Show', auth_sel_shippingrule %></td>
        <td><%= link_to 'Edit', edit_auth_sel_shippingrule_path(auth_sel_shippingrule) %></td>
        <td><%= link_to 'Destroy', auth_sel_shippingrule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auth Sel Shippingrule', new_auth_sel_shippingrule_path %>
