<div class='container'>
<%= form_for(auth_tag) do |f| %>
  <% if auth_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auth_tag.errors.count, "error") %> prohibited this auth_tag from being saved:</h2>

      <ul>
      <% auth_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <h2>
  * Set as Nav Root Category:
  </h2>
  <br />
  <% AuthWebsite.all.each do |web| %> 

	  <label>
		  <input name='webroot[]' value="<%=web.id%>" 
		  <%if @webrootids && (@webrootids.include? web.id)%>
			  checked
		  <%end %>
		  type='checkbox' />
	  <%=web.url %> 
	  </label>
	  <br />

  <% end %> 

  <br />
  <h2>
  * Choolse Parent Category
  </h2>
  <% AuthWebsite.all.each do |web| %> 
	  <h3>
	  <%=web.url %> 
	  </h3>
	  <br />


  <% web.nav_tags.each do |t| 
	  if t.id == @auth_tag.id
		  next
	  end
  %> 
	  <label>
		  <input name='ptags[]' value="<%=t.id%>" 
		  <%if @pids && (@pids.include? t.id)%>
			  checked
		  <%end %>
		  
		  type='checkbox' />
	  <%=t.name %> 
	  </label>

	  <%t.get_child.each do |t2| 
	  if t2.id == @auth_tag.id
		  next
	  end

  %> 
		  <br />
		  <label>
			  &nbsp;
			  &nbsp;
			  &nbsp;
			  <input name='ptags[]' value="<%=t2.id%>" 
			  <%if @pids && (@pids.include? t2.id)%>
				  checked
			  <%end %>
			  type='checkbox' />
			  <%=t2.name %> 
		  </label>
		  <%end %> 


  <br />

  <%end   %> 




  <% end %> 


  <%  if false && @auth_tag.auth_tagtype_id != AuthTagtype::Nav %> 
  <b>
  Parent:
  </b>
  <br />
  <br />
  <%AuthTag.nav_tags.each do |t| 
	  if t.id == @auth_tag.id
		  next
	  end
  %> 
	  <label>
		  <input name='ptags[]' value="<%=t.id%>" 
		  <%if @pids && (@pids.include? t.id)%>
			  checked
		  <%end %>
		  
		  type='checkbox' />
	  <%=t.name %> 
	  </label>

	  <%t.get_child.each do |t2| 
	  if t2.id == @auth_tag.id
		  next
	  end

  %> 
		  <br />
		  <label>
			  &nbsp;
			  &nbsp;
			  &nbsp;
			  <input name='ptags[]' value="<%=t2.id%>" 
			  <%if @pids && (@pids.include? t2.id)%>
				  checked
			  <%end %>
			  type='checkbox' />
			  <%=t2.name %> 
		  </label>
		  <%end %> 


  <br />

  <%end  %> 
  <%end   %> 
  <br />
  <br />


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
	</div>
