<div class='container'>
<h1>
	Category Merge
</h1>


Merge <b>A </b>into <b>B</b>.

<br />
*All <b>A </b> related object will give to <b>B </b> (auth_tag2objs).
<br />
*if  delete = true
<br />
&nbsp;
&nbsp;
<b>A</b> will be deleted from auth_tag2tags, auth_tags, auth_tag2objs .
<br />
else
<br />
&nbsp;
&nbsp;
All <b>A </b> relations stay as before.

<br />
<br />

	<%= form_tag do %>

Merge 
	<select name='from_tag'>
    <% AuthTag.all.each do |auth_tag| %>
		<option value='<%= auth_tag.id %>'>
		<%= auth_tag.name %>
		</option>
    <% end %>
	</select>
	Into
	<select name='into_tag'>
    <% AuthTag.all.each do |auth_tag| %>
		<option value='<%= auth_tag.id %>'>
		<%= auth_tag.name %>
		</option>
    <% end %>
	</select>
	<br />
		<label>
		<input type='checkbox'  name='delete_from'  >
		Delete all From Tag related info
		after merge
		</label>

	<hr />
		  <input type='submit'>
	<% end %>

	</div>
