<p id="notice"><%= notice %></p>

<h1>Auth Tags</h1>

<a href="/auth_tag2tags">
  TagRelation
  </a>
<a href="/auth_website2tags">
  Host2tags
  </a>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auth_tags.each do |auth_tag| %>
      <tr>
        <td><%= auth_tag.name %></td>
        <td><%= link_to 'Edit', edit_auth_tag_path(auth_tag) %></td>
        <td><%= link_to 'Destroy', auth_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auth Tag', new_auth_tag_path %>
<hr />

  <%AuthWebsite.all.each do |web| %> 
	  <h3> <%=web.url  %> </h3>
<table class='table table-bordered'>
	  <tr>
  <%web.nav_tags.each do |t| %> 
	  <td>
		  <%=t.name  %> 

		  <%t.get_child.each do |t2| %> 
			  <br />
				  &nbsp; &nbsp; <%=t2.name %> 
			  <%t2.get_child.each do |t3| %> 
				  <br />
				  &nbsp; &nbsp;&nbsp; &nbsp; <%=t3.name %> 
			  <%end %> 
		  <%end %> 
	  </td>
  <%end  %> 
	  </tr>
</table>
  <%end  %> 


