<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @auth_discount.model %>
</p>

<p>
  <strong>Obj:</strong>
  <%= @auth_discount.obj_id %>
</p>

<p>
  <strong>Amt:</strong>
  <%= @auth_discount.amt %>
</p>

<%= link_to 'Edit', edit_auth_discount_path(@auth_discount) %> |
<%= link_to 'Back', auth_discounts_path %>
