<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
	<%= csrf_meta_tags %>

	<script src="/assets_default/jquery.min.js"></script>
	<link rel="stylesheet" href="/assets_default/bootstrap.min.css" >
	<link rel="stylesheet" href="/assets_default/bootstrap-theme.min.css" >
	<script src="/assets_default/bootstrap.min.js" ></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
